<h1>Netlify build for site <%= SITE_NAME %> has been sucesfull.</h1>
<p>
  Finished processing build request. Site <%= SITE_NAME %> is live ✨.
  <br />
  URL: <%= URL %> <br />
  DEPLOY_URL: <%= DEPLOY_URL %>
</p>